/*Created by: Saurav Mathur*/

body {
    background-color: lightblue;
    font-family: "Times New Roman", sans-serif;
}

h1 {
    margin-top: 15px;
    padding-left: 22%;
}

.cent {
    padding-left: 22%;
}

hr {
    border-color: gray;
    border-style: dashed;
}