/* Taken from CS400 CGI Activity in Fall 2020 */

table {
    border-collapse: collapse;
    margin: 40px 30px;
    font-size: 1em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px #00000040;
}

th, td {
    padding: 12px 15px;
}

tr {
    border-bottom: 1px solid #dddddd;
}

tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tr:last-of-type {
    border-bottom: none;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.footer {
    text-align: left;
    padding: 3px;
    text-indent: 5%;
    background-color: #30292F;
    color: White;
}

.content-container {
    padding: 1.618rem 3.236rem;
    max-width: 48.54rem;
    margin: 3.236rem auto;
    background-color: #fff;
    box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.05);
    border-radius: .269666667rem;
}

.topHead {
    padding-top: 22px;
    text-align: center;
}

.cent{
    text-align: center;
}
