/*Help taken from https://www.creativebloq.com/how-to/how-to-implement-light-or-dark-modes-in-css*/

body {
    font-family: 'Merriweather', serif;
    background-color: #ededed;
    color: #212121;
    padding: 1.618rem;
    line-height: 1.618;
    font-size: 16px;
    font-weight: 600
}

.content-container {
    padding: 1.618rem 3.236rem;
    max-width: 48.54rem;
    margin: 3.236rem auto;
    background-color: #fff;
    box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.05);
    border-radius: .269666667rem;
}
ul {
    list-style-type: none;
    margin: 1px;
    padding: 1px;
    overflow: hidden;
    background-color: #30292F;
    font-family: 'Pacifico', cursive;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: left;
    padding: 15px 17px;
    text-decoration: none;
}

/* Links will change color when hovered over */
li a:hover {
    background-color: #5D737E;
}

.number {
    color: #3F4045;
    margin-left: 1in;
    padding: 10px;
    font-family: 'Merriweather', sans-serif;
}

.cursive {
    font-family: 'Indie Flower', cursive;;
}
