/*Help taken from https://www.creativebloq.com/how-to/how-to-implement-light-or-dark-modes-in-css*/

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #ededed;
    color: #212121;
    padding: 1.618rem;
    line-height: 1.618;
    font-size: 16px;
}

h1 {
    font-family: 'Indie Flower', cursive;
}

.topHead {
    padding-top: 22px;
    text-align: center;
}

p {
    font-size: x-large;
}


.content-container {
    padding: 1.618rem 3.236rem;
    max-width: 48.54rem;
    margin: 3.236rem auto;
    background-color: #fff;
    box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.05);
    border-radius: .269666667rem;
}


ul {
    list-style-type: none;
    margin: 1px;
    padding: 1px;
    overflow: hidden;
    background-color: #30292F;
    font-family: 'Patua One', serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: left;
    padding: 15px 17px;
    text-decoration: none;
}

/* Links will change color when hovered over */
li a:hover {
    background-color: #5D737E;
}

.active {
    background-color: #3F4045;
}

.footer {
    text-align: left;
    padding: 3px;
    background-color: #30292F;
    color: White;
    text-indent: 2%;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

div {
    align-self: center;
    padding-left: 10%;
    padding-right: 10%;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.image-container {
    display: flex;
    justify-content: center;
}
